<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit team information</title>
</head>
<body>
<fieldset>
    <legend><h1>Edit team</h1></legend>
    <a th:href="@{/teams}">Back to team list</a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form method="post" th:action="@{/edit-team}" th:object="${team}">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Discription</td>
                <td><input type="text" th:field="*{discription}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Edit"></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>